div.main-content-tile-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: chart1 chart2 chart3
}
div.main-content-tile-container-fourths {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas: chart1 chart2 chart3 chart4
}

div.main-content-tile-container div.tile-chart {
    margin-right: 20px;
}

div.main-content-tile-container, div.main-content-tile-container-fourths div.tile-chart {
    margin-right: 20px;
}

div.main-content-tile-container div.tile-chart.span-3 {
    grid-column: 1 / span 3;
}