div.filter-button-component {
    display: inline-block;
    cursor: pointer;
}
    
div.filter-button-component button {
    display: inline-block;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.5;
    border-radius: 0px;
    font-size: 11px;
    text-transform: uppercase;
    border: 0px solid black;
    color: #aeaeae;
    background-color: transparent;
    background-image: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: .5rem;
    margin-right: 0;
    cursor: pointer;
}

div.filter-button-component button:hover {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: #6C757D;
    color: #FFFFFF;
}
